@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.page {
    border-color: #eceef0;
    border-width: 105px 111px;
    border-style: solid;

    width: 1236px;
    height: 1431px;
}

.header {
    height: 85px;
    margin: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.login-get-started {
    width: 195px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.green-button {
    width: 115px;
    height: 42px;
}

hr.header-split-line {
    margin: 0px;
}
